#searchForm{
    width: 20%;
    margin: 0 auto;
}

img{
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 5px;
}

.card-body{
    display: flex;
    flex-direction: column;
}

.card{
    height: 600px;
}

.added{
    background-color: green;
}